apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

secretGenerator:
- name: spear-credentials
  literals:
  - sumologicUrl="#{KeyVault.Sumologic.Url}"
    instanceUrl="blah"
    instanceApiKey="blah"
    environment="#{Octopus.Environment.Name}"
    openFeatureClientId="#{Octopus.FeatureToggles.ClientIdentifier}"

resources:
- spear-deployment.yaml

images:
 - name: bobjwalker99/spear
   newName: bobjwalker99/spear
   newTag: "#{Project.K8s.Image.VersionTag}"

namespace: "#{Standards.K8s.Namespace}"

patches:
 - target:
    kind: Gateway
    name: "#{Standards.K8s.Namespace}-gateway"
   patch: |-
    - op: replace
      path: /spec/listeners/0/hostname
      value: #{Standards.K8s.HostName}
    - op: replace
      path: /spec/listeners/0/name
      value: #{Standards.K8s.Namespace}-http
 - target:
    kind: HTTPRoute
    name: "#{Standards.K8s.Namespace}-httproute"
   patch: |-
    - op: replace
      path: /spec/hostnames/0/
      value: #{Standards.K8s.HostName}
    - op: replace
      path: /spec/rules/parentRefs/0/name
      value: #{Standards.K8s.Namespace}-gateway